.first-section {
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding-top: 172px;
  padding-bottom: 385px;
  margin-bottom: -93px;
  //background-image: url('../../img/first-sec-bg.png');
  //background-size: cover;
  //background-position: center;

  /*&:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
  }*/

  @include response-to(medium) {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  @include response-to(small) {
    padding-bottom: 25px;
  }

  &__left-top-img {
    transform: rotate(33deg);
    left: -63px;
    top: 15px;
    z-index: 3;

    @include response-to(small) {
      display: none;
    }
  }

  &__left-bg {
    z-index: 2;
    top: -218px;
    left: -405px;

    @include response-to(large) {
      width: 700px;
      top: -68px;
      left: -315px;
    }

    @include response-to(small) {
      width: 600px;
      top: -208px;
    }
  }

  &__top-right-bg {
    top: -3px;
    z-index: 2;
    right: calc((100vw - 1300px) / 2);
    //right: 0;

    @include response-to(medium) {
      display: none;
    }
  }

  &__main-img {
    z-index: 3;
    right: calc((100vw - 1300px - 30px) / 2);
    top: 51px;

    @include response-to(large) {
      width: 550px;
      right: 0;
      top: 150px;
      height: auto;
    }

    @include response-to(medium) {
      position: relative!important;
      top: unset;
      right: unset;
      display: block;
      margin: 30px auto 0;
      order: 2;
    }

    @include response-to(small) {
      width: 300px;
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &__caption {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;

    @include response-to(small) {
      font-size: 20px;
      line-height: 120%;
    }

    &_mark {
      color: $red-color;
    }
  }

  &__text {
    color: #888995;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 41px;

    @include response-to(small) {
      font-size: 16px;
      line-height: 120%;
      max-width: 300px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;

      br {
        display: none;
      }
    }
  }

  &__btn {
    width: 267px;

    @include response-to(medium) {
      margin: 0 auto;
    }
  }
}