.four-section {
  position: relative;
  margin-bottom: 144px;

  @include response-to(medium) {
    margin-bottom: 50px;

    &:before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(#fff, .7);

      @include response-to(small) {
        background-color: rgba(#fff, .9);
      }
    }
  }

  &-car {
    position: absolute;
    top: -43px;
    z-index: 0;
    right: 0;

    @include response-to(huge) {
      right: -85px;
    }

    @include response-to(large) {
      width: 600px;
      top: 30px;
      height: auto;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 520px;
    width: 100%;

    @include response-to(medium) {
      max-width: unset;
    }

    &_text {
      color: #888995;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 10px;
      
      @include response-to(medium) {
        color: #333;
      }
    }

    &_items {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 22px;

      @include response-to(small) {
        flex-direction: column;
      }
    }

    &_item {
      flex: 0 0 46%;
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      &-num {
        color: #3E51B3;
        font-size: 52px;
        line-height: 150%;
        margin-right: 12px;
      }

      &-text {
        color: #3E51B3;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}