.second-section {
  position: relative;
  z-index: 11;
  padding-bottom: 124px;

  @include response-to(medium) {
    padding-bottom: 50px;
  }

  &__bg {
    transform: rotate(35deg);
    bottom: -56px;
    left: -120px;
    display: block;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include response-to(medium) {
      flex-wrap: wrap;
    }
  }

  &__col {
    position: relative;

    &:first-of-type {
      flex: 0 0 31%;

      &:before {
        position: absolute;
        content: '';
        background-color: rgba(#888995, .2);
        width: 1px;
        right: 0;
        top: 0;
        bottom: 0;

        @include response-to(small) {
          content: none;
        }
      }
    }

    &:nth-of-type(2) {
      flex: 0 0 38%;
      padding-left: 30px;

      @include response-to(large) {
        flex: 0 0 28%;
      }

      @include response-to(small) {
        padding-left: 0;
      }

      &:before {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(#888995, .2);
        width: 1px;

        @include response-to(medium) {
          content: unset;
        }
      }
    }

    &:last-of-type {
      padding-left: 84px;

      @include response-to(large) {
        padding-left: 25px;
      }

      @include response-to(small) {
        padding-left: 0;
      }
    }
  }

  .services {
    width: 391px;

    @include response-to(medium) {
      width: 50%;
      flex: unset;
    }

    @include response-to(small) {
      width: 100%;
    }

    &__item {
      width: 391px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      @include transition-ease;
      border-radius: 8px;
      background-color: transparent;
      margin-bottom: 10px;

      @include response-to(large) {
        width: 280px;
        padding: 0 10px;
        margin-right: 10px;
      }

      @include response-to(small) {
        width: 100%;
        margin: 0;
      }

      @include on-event {
        background-color: #F5F8FA;
      }

      &_img {
        display: block;
        margin-right: 12px;
      }

      &_link {
        display: block;
        padding: 16px 0 15px;
        flex-grow: 1;

        @include response-to(large) {

          br {
            display: none;
          }
        }

        @include response-to(small) {
          padding: 10px 0 9px;
        }
      }
    }
  }

  .articles {

    @include response-to(medium) {
      flex: unset;
      width: 100%;
      margin-top: 30px;
      text-align: center;
    }

    &:before {
      content: none;
    }

    &__img {
      width: 100%;
      overflow: hidden;
      margin-bottom: 16px;
      border-radius: 15px;

      @include response-to(medium) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }

      &_image {
        width: 100%;
        display: block;
        height: auto;
      }
    }

    &__caption {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 16px;

      @include response-to(small) {
        font-size: 20px;
        line-height: 120%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__text {
      margin-bottom: 24px;
      color: #888995;
      letter-spacing: 0.03em;
      font-size: 16px;
      line-height: 150%;

      @include response-to(small) {
        font-size: 14px;
        line-height: 120%;
      }
    }

    .btn {
      margin-bottom: 16px;
      width: 100%;

      @include response-to(medium) {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}