.third-section {
  padding: 95px 0;
  background-color: #3E51B3;
  background-image: url('../../img/third-sec-bg.svg');
  background-size: initial;
  background-position: calc(100% + 454px) center;
  background-repeat: no-repeat;
  margin-bottom: 261px;

  @include response-to(large) {
    margin-bottom: 150px;
  }

  @include response-to(medium) {
    margin-bottom: 50px;
    padding: 30px 0;
  }

  &__advantages {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -10px;

    @include response-to(medium) {
      flex-wrap: wrap;
    }
  }

  &__advantage {
    width: 291px;
    margin: 0 10px;
    display: flex;
    align-items: flex-start;
    padding: 28px 5px 19px;

    @include response-to(medium) {
      width: 45%;
      padding-top: 0;
    }

    @include response-to(small) {
      width: 55%;
      flex-direction: column;
      margin: 0 auto 10px;
      text-align: center;
    }

    &_icon {
      margin-right: 20px;

      @include response-to(small) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &_content {
      margin-top: 6px;
    }

    &_title {
      font-size: 24px;
      line-height: 29px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 10px;

      @include response-to(small) {
        font-size: 20px;
      }
    }

    &_text {
      font-size: 16px;
      line-height: 150%;
      color: #fff;

      @include response-to(small) {
        font-size: 15px;

        br {
          display: none;
        }
      }
    }
  }
}