@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/reset";
@import "base/typography";
@import "base/base";

@import "components/loader";

body,
html {
  position: relative;
  overflow-x: hidden;
  font-family: 'IntroHeadB', sans-serif;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}