.footer {
  background-color: #F5F8FA;
  padding-top: 23px;
  padding-bottom: 26px;

  &__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include response-to(small) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__left {
    font-size: 14px;
    line-height: 150%;
  }

  &__right {
    max-width: 512px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include response-to(small) {
      flex-direction: column;
    }

    & > div {
      display: flex;

      @include response-to(small) {
        justify-content: center;
        margin-top: 20px;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 150%;
    color: #888995;
    display: block;
    margin-right: 20px;
  }

  &__privacy {

    @include response-to(small) {
      display: block;
      margin: 5px auto;
    }
  }

  & .link {
    font-size: 14px;
  }
}